*.diff
*.egg-info/
*.patch
*.pyc
*__pycache__*
*_output.txt
.DS_Store
.coverage
.idea/
.python-version
.vscode/
MANIFEST
build/
commit.txt
cpy_server*/
dev*.py
dist/
docs/INFO_BIN
docs/INFO_SRC
lib/mysql/vendor/
src/mysqlxpb/mysqlx/mysqlx*
tests_*.log
venv/
venv2/
venv3/
