*.pyc
.coverage
.DS_Store
*__pycache__*
.python-version
.idea/
.vscode/
commit.txt
*.patch
*.diff
*.egg-info/
dist/
build/
mysql-vendor/
venv/
venv2/
venv3/
MANIFEST
cpy_server*/
mysql-vendor/
*_output.txt
tests_*.log
dev*.py
src/mysqlxpb/mysqlx/mysqlx*
docs/INFO_SRC
docs/INFO_BIN
