include README.txt
include LICENSE.txt
include CHANGES.txt
include setup.py
include setupinfo.py
include version.py
include unittests.py
include MANIFEST.in

recursive-include examples *.py
recursive-include lib *.py
recursive-include support
recursive-include tests *.py *.csv pylint*.rc *.pem

include docs/README_DOCS.txt

